<header>
<div class="container">
    <a routerLink="/entryvehicle" class="logo">{{appTitle}}</a>
    <nav class="navbar navbar-dark bg-primary">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">           
            <li class="nav-item active"><a class="nav-link" routerLink="/entry">Entrada Vehiculo</a></li>
            <li class="nav-item active"><a class="nav-link" routerLink="/list">Lista de Parqueadero</a></li>
            <li class="nav-item active"><a class="nav-link" routerLink="/out">Salida Vehiclulos</a></li>
        </ul>
    </nav>
</div>
</header>
  