@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');

body, html {
    height: 100%;
    margin: 0 auto;
}

body {
    font-family: 'Montserrat';
    font-size: 18px;
}

a {
    text-decoration: none;
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 1.3em;
    display: grid;
    grid-template-columns: 30% auto;

    a {
        color: white;
    }
}

section {
    width: 80%;
    margin: 0 auto;
    padding: 2em;
}
input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid ;
    border-radius: 4px;
}
input[type=number] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid ;
    border-radius: 4px;
}
select {
    width: 100%;
    padding: 10px 20px;
    border: 2px solid;
    border-radius: 4px;
    font-size: 18px;
    option{
        font-family: 'Montserrat';
        font-size: 18px;
    }
}

input[type=button], input[type=submit], input[type=reset] {
    background-color: #4592FA;
    border: none;
    color: white;
    padding: 16px 32px;
    margin-top: 25px !important;
    border-radius: 4px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    float: right;
    cursor: pointer;
  }
  input[type=submit]:hover {
    background-color: #45a049;
  }